################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/build
/.vs
/lib/Debug
/Simulator/SimulatorBase.dir/Debug
/Simulator/SimulatorBase.dir/Release/SimulatorBase.tlog
/Simulator/SPHSimulator.dir/Release
/x64
/CMakeFiles
/data/Scenes/Cache
/Simulator/SPHSimulator.dir/Debug/SPHSimulator.tlog
/Simulator/SPHSimulator.dir/Debug
/SPlisHSPlasH/CMakeFiles
/SPlisHSPlasH/SPlisHSPlasH.dir/Debug
/SPlisHSPlasH/SPlisHSPlasH.dir/Release/SPlisHSPlasH.tlog
/SPlisHSPlasH/SPlisHSPlasH.dir/Release
/Simulator/SimulatorBase.dir/Release
/Simulator/CMakeFiles
/Tests
/extern
/extern/CompactNSearch
/lib/MinSizeRel
/lib/Release
/Simulator/SimulatorBase.dir/MinSizeRel
/Simulator/SPHSimulator.dir/MinSizeRel
/SPlisHSPlasH/SPlisHSPlasH.dir/MinSizeRel/SPlisHSPlasH.tlog
/SPlisHSPlasH/SPlisHSPlasH.dir/MinSizeRel
